datetime_truncate
ipywidgets<8.0.0
shiny
shinywidgets
pandas
requests
sqlalchemy
psycopg2
qgrid
plotly
# git+https://github.com/bartverweire/py-shinycomponents.git#egg=shinycomponents
git+ssh://git@github.com/bartverweire/py-shinycomponents.git#egg=shinycomponents